body{
    background-image: url(https://cdn.vectorstock.com/i/1000v/13/40/todo-list-seamless-pattern-universal-background-vector-7561340.avif);
}

.inputForm{
    width:60%;
    border: 1px solid;
    border-radius: 5px;
    margin-left: 220px;
    background: rgba(255,255,255,0.4)
}

.btn{
    margin-left: 10px;
    margin-bottom: 5px;

}

.form-label{
    font-size: x-large;
    font-weight: 50px;
}

.form-control{
    width:70%;
    margin-left: 10px;
}

.todoRow{
    display: flex;
    align-items: center;
}

table{
    margin-top: 20px;
    max-width: 1000px;
    margin-left: 120px;
    text-align: center;
    border-radius: 5px;
}

tr{
    border: 1px;
    border-radius: 5px;
}