body{
    background-repeat: no-repeat;
    background-size: 1300px 750px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3ZklwFBciNnVdU8oXGOXHBdrVmiu7wrjViA&s);
}

.main{
    border: 2px solid white;
    border-radius: 5px;
    width: 65%;
    margin-left: 220px;
    background-color: rgba(255,255,255,0.2);
}

.scores{
    display: flex;
    align-content: space-around;
}

.choices{
    display: flex;
    align-content: space-around;
}

.yourScore{
    margin-top: 5px;
    margin-left: 20px;
}

.computerScore{
    margin-top: 5px;
    margin-left: 350px;
}

.yourChoice{
    margin-top: 5px;
    margin-left: 20px;
}

.computerChoice{
    margin-top: 5px;
    margin-left: 290px;
}

.nextRound{
    margin-left: 560px;
}

.finalButtons{
    margin-top: 50x;
    display: flex;
    align-content: space-around;
}

.newGame{
    margin-left: 550px;
    margin-top: 20px;
}

.quit{
    margin-left: 10px;
    margin-top: 20px;
}

.divider{
    width: 40%;
    margin-left: 390px;
    margin-top: 30px;
    background-color:white;
    height: 3px;
}