body{
    background-repeat: no-repeat;
    background-size: 1300px 800px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbSr3L77JJVDegAWZoT0lnz77ECFDyW0lqEA&s);
}

a{
    margin-left: 100px;
    margin-top: 100px;
}

.inputForm{
    width: 60%;
    border: 1px solid white;
    border-radius: 7px;
    margin-left: 255px;
    display: flex;
    align-content: space-evenly;
    background-color: rgba(255,255,255,0.2);
}

.actualForm{
    width: 50%;
    margin-left: 100px;
}

.calculation{
    width: 50%;
    margin-top: 90px;
}

.btn{
    margin-left: 250px;
}

.form-control{
    margin-left: 5px;
    width:70%;
}

.operations{
    margin-left: 5px;
    width:70%;
}

